.btn-medium {
  border-radius: 50px;
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #1EDD88;
  color: white;
  padding: 16px 32px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  opacity: 0.6;
}

.btn-medium:hover {
  border-radius: 50px;
  font: bold 16px Arial;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 16px 32px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
